<ion-view cache-view="false">
    
    <ion-header-bar class="dark-red">
                <ion-item class="item item-icon-left" ng-click="goBack()" style="background-color:#350002; border:0px; color:#ffffff">
                <i class="icon ion-arrow-left-b"> </i>
                </ion-item>
                 <h1 class="title white">About</h1>
            
                </ion-header-bar>
    
    <ion-content class="padding">
        <p> This application was made by Daniel Moya Sánchez, Francisco Alvarado Ferllini, Jairo Méndez Martínez and Jason Leitón Jiménez from TEC Costa Rica</p>
    </ion-content>
    
</ion-view>
